/* ——————— 1st exercise start ——————— */

.ex-1-square{ transition: background-color 2s; }

.ex-1-square:hover{ background-color: red; }

/* ——————— 1st exercise end ——————— */



/* ——————— 2nd exercise start ——————— */

.ex-2-square{ transition: width 2s; }

.ex-2-square:active{ width:100%; }

/* ——————— 2nd exercise end ——————— */



/* ——————— 3rd exercise start ——————— */

.ex-3-square{ transition: border-radius 0.5s ease-in; }

.ex-3-square:hover{ border-radius:50%; }

/* ——————— 3rd exercise end ——————— */



/* ——————— 4th exercise start ——————— */

.ex-4-square{ transition: opacity 1s; }

.ex-4-square:hover{ opacity:0; }

/* ——————— 4th exercise end ——————— */



/* ——————— 5th exercise start ——————— */

.ex-5-square{ transition: transform 1s; }

.ex-5-square:hover{
    transform:scale(2);
    transform-origin: center;
}

.ex-5-square:active{
    transform:scale(0.5);
    transform-origin: center;
}

/* ——————— 5th exercise end ——————— */
