/* ———————————————————————————— SQUARES START ———————————————————————————— */


/* ——————— 1st exercise ——————— */

.ex-1-square{ transition: background-color 2s; }

.ex-1-square:hover{ background-color: red; }


/* ——————— 2nd exercise ——————— */

.ex-2-square{ transition: width 2s; }

.ex-2-square:active{ width:100%; }


/* ——————— 3rd exercise ——————— */

.ex-3-square{ transition: border-radius 0.5s ease-in; }

.ex-3-square:hover{ border-radius:50%; }


/* ——————— 4th exercise ——————— */

.ex-4-square{ transition: opacity 1s; }

.ex-4-square:hover{ opacity:0; }


/* ——————— 5th exercise ——————— */

.ex-5-square{ transition: transform 1s; }

.ex-5-square:hover{
    transform:scale(2);
    transform-origin: center;
}

.ex-5-square:active{
    transform:scale(0.5);
    transform-origin: center;
}


/* ———————————————————————————— SQUARES END ———————————————————————————— */




/* ———————————————————————————— IMAGES START ———————————————————————————— */


/* ——————— 6th exercise ——————— */

.ex-6-img:hover{ filter:grayscale(1); }


/* ——————— 7th exercise ——————— */

.ex-7-img{ transition:filter 1.5s; }

.ex-7-img:hover{ filter:sepia(80%) contrast(100%); }


/* ——————— 8th exercise ——————— */

.ex-8-img{ transition:all 1.5s; }

.ex-8-img:hover{ filter:sepia(50%) grayscale(50%); border-radius:20px; }


/* ——————— 9th exercise ——————— */

.ex-9-img{ transition:all 1.5s; }

.ex-9-img:hover{
    filter:sepia(100%) grayscale(50%);
    border-radius:30px;
    transform:scale(1.5);
    transform-origin:center;
}


/* ———————————————————————————— IMAGES END ———————————————————————————— */




/* ———————————————————————————— ELEMENTS START ———————————————————————————— */


/* ——————— 10th exercise ——————— */

.ex-10-icon {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    from{ transform:rotate(0); }
    to{ transform:rotate(-360deg);}
}


/* ——————— 11th exercise ——————— */

.ex-11-icon:hover {
    animation-name: crazy-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes crazy-spin{
    0%{ transform:rotate(0); }
    90%{ transform:rotate(270deg);}
    100%{ transform:rotate(0); }
}


/* ——————— 12th exercise ——————— */


.ex-12-button:hover .ex-12-top-white{
    animation-name: translate-top;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}
@keyframes translate-top{
    0%{ left:10%; }
    50%{ left:60%; }
    100%{ left:10%; }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: translate-bottom;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}
@keyframes translate-bottom{
    0%{ right:20%; }
    50%{ right:60%; }
    100%{ right:20%; }
}


/* ——————— 13th exercise ——————— */

.ex-13-button:hover .ex-13-top-white{
    animation-name: move-top;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}
@keyframes move-top{
    0%{ left:10%; top: -10px; }
    30%{ left:80%; top: -10px; }
    45%{ left:80%; top: 60px; }
    75%{ left:-10%; top: 60px; }
    90%{ left:-10%; top: -10px; }
    100%{ left:10%; top: -10px; }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation-name: move-bottom;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}
@keyframes move-bottom{
    0%{ right:20%; bottom: -10px; }
    30%{ right:80%; bottom: -10px; }
    45%{ right:80%; bottom: 60px; }
    75%{ right:-20%; bottom: 60px; }
    90%{ right:-20%; bottom: -10px; }
    100%{ right:20%; bottom: -10px; }
}


/* ———————————————————————————— ELEMENTS END ———————————————————————————— */
